{% extends 'mu_base_crud.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Committees{% endblock %}

{% block content %}

<h1>
  Committees
</h1>
<table>
  <tr>
    <th>Committee ID</th>
    <th>Committee Name</th>
    <th>View Members</th>
  </tr>
  {% for row in committeeList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      <a href="/showCommitteeMembers?CommitteeID={{row[0]}}">Members</a>
    </td>
    <td>
      <a href="?delete=true&CommitteeID={{row[0]}}">Delete</a><br />
      <a href="/updateCommittee?CommitteeID={{row[0]}}">Change</a>
    </td>
  </tr>
  {% endfor %}
</table>
<h2>Add a committee:</h2>
<form action="">
  Committee Name: <input type="text" name="Name"><br />
  <input type="submit" value="Submit">
</form>
{% endblock %}