{% extends 'mu_base_crud.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Members{% endblock %}

{% block content %}

<table>
  <tr>
    <th>Person ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>USAU Number</th>
    <th>View Committees</th>
  </tr>
  {% for row in personList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      {{row[3]}}
    </td>
    <td>
      {{row[4]}}
    </td>
    <td>
      <a href="?delete=true&PersonID={{row[0]}}">Delete</a><br />
      <a href="/updatePerson?PersonID={{row[0]}}">Change</a>
    </td>
  </tr>
  {% endfor %}
</table>
<h2>Enter a new value here</h2>
<form action="">
  First Name: <input type="text" name="FirstName"><br />
  Last Name: <input type="text" name="LastName"><br />
  USAU Number: <input type="text" name="USAU_Number"><br />
  <input type="submit" value="Submit">
</form>
{% endblock %}