{% extends 'mu_base_crud.html' %}

{% block header %}
  Updating Missoula Ultimate Member Roster
{% endblock %}

{% block content %}

<h2>Update member information:</h2>
<form action="">
  <input type="hidden" name="PersonID" value="{{id}}">
  First Name: <input type="text" name="FirstName" value="{{existingFirstName}}"><br />
  Last Name: <input type="text" name="LastName" value="{{existingLastName}}"><br />
  USAU Number: <input type="text" name="USAU_Number" value="{{existingUSAU}}"><br />
  <input type="submit" value="Submit">
</form>
<a href="/">Return to list</a>
{% endblock %}